footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/*estilos redes sociales*/
.redes-sociales{
    width: 30px;
    height: 30px;   
}
.redessociales{
    width: 30px;
    height: 30px;
}