.pie {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  
    }
    

.redes-sociales {
        width: 30px;
        height: 30px; /* agregue punto y coma */
}

/* Estilos para el icono de Facebook */

     .redes-social { /* corregido el nombre de la clase y agregue punto y coma */
        width: 30px;
        height: 30px;
    }
    