.pie {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    
    
    
   
}

.redes-sociales {
        width: 30px;
        height: 30px; /* agregue punto y coma */
}

/* Estilos para el icono de Facebook */

     .redes-social { /* corregido el nombre de la clase y agregue punto y coma */
        width: 30px;
        height: 30px;
    }
    .pie {
        min-height: 70px;
        background-color: #191919;
        background-image: -moz-linear-gradient(top, #191919, #000000);
        background-image: -o-linear-gradient(top, #191919, #000000);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #191919), color-stop(1, #000000));
        background-image: -webkit-linear-gradient(#191919, #000000);
        background-image: linear-gradient(top, #191919, #000000);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#191919', endColorStr='#000000');
        border-top: 1px solid rgba(50, 50, 50, 0.3);
        width: 100%;
        /*position: relative;
        clear: both;             
        margin-top: 0px;            ELIMINADO
        padding-top: 0px;
        overflow: visible;*/
        position: fixed;
        bottom: 0;              /* NUEVO */
      }