header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 10px 0;
}

.subtitulo {
    margin: 0;
}
/*MENU NAVEGABLES*/
nav {
    li {
        float: left;
        list-style: none;
    }

    a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;

        &:hover {
            background-color: #45a049;
        }
    }
    .navbar-brand {
        padding: 0; // Elimina cualquier relleno en el contenedor de la marca
      }
         
}
.logo1 {
        max-width: 100%; // Asegura que el logo se ajuste al ancho del contenedor
        height: auto; // Hace que la altura se ajuste proporcionalmente
        margin-right: 10px;
      }
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


