header {
    background-color: #343a40;
    color: #f6f7f6;
    padding: 20px;
  
    h1 {
      font-size: 2em;
    }
  
    p.subtitulo {
      font-size: 1.2em;
    }
    .logo1 {
      max-width: 150px; /* ajusta el tamaño máximo según tus necesidades */
      width: 100%;
      height: auto;
    }
    .navbar {
      // Estilos de la barra de navegación
      background-color: #343a40;
  
      .navbar-brand {
        // Estilos del logo
        .logo1 {
          width: 50px;
          height: auto;
          margin-right: 10px;
        }
      }
  
      .navbar-nav {
        .nav-link {
          color: #111111;
  
          &:hover {
            color: #28a745;
          }
        }
  
        .active {
          font-weight: bold;
        }
  
        .dropdown-menu {
          background-color: #343a40;
          border: 1px solid #28a745;
  
          .dropdown-item {
            color: #ffffff;
  
            &:hover {
              background-color: #28a745;
            }
          }
  
          .dropdown-divider {
            border-color: #28a745;
          }
        }
      }
  
      .form-control {
        background-color: #e9ecef;
        color: #495057;
      }
    }
  }
  /* Estilos de los cursos */
.courses-container {
    .course {
      border: 1px solid #0e6fcf;
      border-radius: 8px;
      overflow: hidden;
      transition: transform 0.3s ease-in-out;
  
      &:hover {
        transform: scale(1.05);
      }
  
      .img {
        width: 100%;
        height: auto;
      }
  
      .course-info {
        padding: 20px;
  
        h2 {
          color: #343a40;
        }
  
        p {
          color: #6c757d;
        }
  
        .price {
          color: #dc3545;
          font-weight: bold;
          margin-top: 10px;
        }
  
        .botonpisado {
          background-color: #0d3896;
          color: #ffffff;
          border: none;
          padding: 8px 16px;
          font-size: 1em;
          cursor: pointer;
  
          &:hover {
            background-color: #c82333;
          }
        }
      }
    }
  }
  
  /* Estilos del video iframe */
  .container.text-center {
    margin-top: 50px;
  
    h2 {
      margin-bottom: 20px;
    }
  
    iframe {
      width: 100%;
      height: 315px;
      margin-bottom: 20px;
    }
  }
  
  /* Estilos del formulario de suscripción */
  .newsletter {
    margin-top: 50px;
  
    h2 {
      margin-bottom: 20px;
    }
  
    form {
      display: flex;
      flex-direction: column;
  
      label {
        margin-bottom: 10px;
      }
  
      input {
        padding: 10px;
        margin-bottom: 20px;
      }
  
      .boton-llamativo {
        background-color: #007bff;
        color: #ffffff;
        border: none;
        padding: 10px;
        cursor: pointer;
  
        &:hover {
          background-color: #0056b3;
        }
      }
    }
  }
  
  /* Estilos del pie de página */
  .pie {
    background-color: #343a40;
    color: #ffffff;
    padding: 20px;
    text-align: center;
  
    .redessociales {
      width: 30px;
      height: 30px;
      margin: 0 10px;
      fill: #ffffff;
      cursor: pointer;
  
      &:hover {
        fill: #28a745;
      }
    }
  }